<div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div>
                <input 
                    type="text"
                    class="form-control"
                    id="pokemon-search"
                    placeholder="Search Pokemon"
                    aria-describedby="pokemonSearch"
                    formControlName="search"
                    autocomplete="off"
                >
                <div id="pokemonSearchHelp" class="form-text">You can search pokemons by exact name or pokedex ID.</div>
            </div>
                <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<app-poke-detail *ngIf="pokemon" [pokemon]="pokemon"></app-poke-detail>
